## Model 2

In [1]:
import os
os.chdir("E:\\DATA SCIENCE TERM-1\\Machine Learning-1\\ML 1 Assignment")

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as stm

In [3]:
house_train = pd.read_csv("wk3_kc_house_train_data.csv")

In [4]:
house_train.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
1,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
2,9212900260,20140527T000000,468000.0,2,1.00,1160,6000,1.0,0,0,...,7,860,300,1942,0,98115,47.6900,-122.292,1330,6000
3,114101516,20140528T000000,310000.0,3,1.00,1430,19901,1.5,0,0,...,7,1430,0,1927,0,98028,47.7558,-122.229,1780,12697
4,6054650070,20141007T000000,400000.0,3,1.75,1370,9680,1.0,0,0,...,7,1370,0,1977,0,98074,47.6127,-122.045,1370,10208
5,9297300055,20150124T000000,650000.0,4,3.00,2950,5000,2.0,0,3,...,9,1980,970,1979,0,98126,47.5714,-122.375,2140,4000
6,6865200140,20140529T000000,485000.0,4,1.00,1600,4300,1.5,0,0,...,7,1600,0,1916,0,98103,47.6648,-122.343,1610,4300
7,6300500875,20140514T000000,385000.0,4,1.75,1620,4980,1.0,0,0,...,7,860,760,1947,0,98133,47.7025,-122.341,1400,4980
8,7137970340,20140703T000000,285000.0,5,2.50,2270,6300,2.0,0,0,...,8,2270,0,1995,0,98092,47.3266,-122.169,2240,7005
9,8091400200,20140516T000000,252700.0,2,1.50,1070,9643,1.0,0,0,...,7,1070,0,1985,0,98030,47.3533,-122.166,1220,8386

In [5]:
house_train['price_log'] = np.log(house_train.price)

In [6]:
house_train['sqft_living_log'] = np.log(house_train.sqft_living)

In [7]:
house_train['sqft_lot_log'] = np.log(house_train.sqft_lot)

In [8]:
house_train['sqft_living15_log'] = np.log(house_train.sqft_living15)

In [9]:
house_train['sqft_lot15_log'] = np.log(house_train.sqft_lot15)

In [10]:
house_train['sqft_above_log'] = np.log(house_train.sqft_above)

In [11]:
house_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9761 entries, 0 to 9760
Data columns (total 27 columns):
id                   9761 non-null int64
date                 9761 non-null object
price                9761 non-null float64
bedrooms             9761 non-null int64
bathrooms            9761 non-null float64
sqft_living          9761 non-null int64
sqft_lot             9761 non-null int64
floors               9761 non-null float64
waterfront           9761 non-null int64
view                 9761 non-null int64
condition            9761 non-null int64
grade                9761 non-null int64
sqft_above           9761 non-null int64
sqft_basement        9761 non-null int64
yr_built             9761 non-null int64
yr_renovated         9761 non-null int64
zipcode              9761 non-null int64
lat                  9761 non-null float64
long                 9761 non-null float64
sqft_living15        9761 non-null int64
sqft_lot15           9761 non-null int64
price_log            9761 non-null float64
sqft_living_log      9761 non-null float64
sqft_lot_log         9761 non-null float64
sqft_living15_log    9761 non-null float64
sqft_lot15_log       9761 non-null float64
sqft_above_log       9761 non-null float64
dtypes: float64(11), int64(15), object(1)
memory usage: 2.0+ MB

In [12]:
unwanted = ['id','date','price','sqft_living','sqft_lot','sqft_living15','sqft_lot15','sqft_above','yr_built','yr_renovated','zipcode','lat','long']
house_train.drop(unwanted,axis=1,inplace=True)

In [13]:
X = house_train.drop(["price_log"], axis = 1)
y = house_train['price_log']

In [14]:
X.head(10)

,bedrooms,bathrooms,floors,waterfront,view,condition,grade,sqft_basement,sqft_living_log,sqft_lot_log,sqft_living15_log,sqft_lot15_log,sqft_above_log
0,4,3.00,1.0,0,0,5,7,910,7.580700,8.517193,7.215240,8.517193,6.956545
1,4,4.50,1.0,0,0,3,11,1530,8.597851,11.532042,8.468003,11.532042,8.266164
2,2,1.00,1.0,0,0,4,7,300,7.056175,8.699515,7.192934,8.699515,6.756932
3,3,1.00,1.5,0,0,4,7,0,7.265430,9.898525,7.484369,9.449121,7.265430
4,3,1.75,1.0,0,0,4,7,0,7.222566,9.177817,7.222566,9.230927,7.222566
5,4,3.00,2.0,0,3,3,9,970,7.989560,8.517193,7.668561,8.294050,7.590852
6,4,1.00,1.5,0,0,4,7,0,7.377759,8.366370,7.383989,8.366370,7.377759
7,4,1.75,1.0,0,0,4,7,760,7.390181,8.513185,7.244228,8.513185,6.756932
8,5,2.50,2.0,0,0,3,8,0,7.727535,8.748305,7.714231,8.854379,7.727535
9,2,1.50,1.0,0,0,3,7,0,6.975414,9.173988,7.106606,9.034319,6.975414

In [15]:
y.head(10)

0    13.311329
1    14.018451
2    13.056224
3    12.644328
4    12.899220
5    13.384728
6    13.091904
7    12.860999
8    12.560244
9    12.439958
Name: price_log, dtype: float64

In [16]:
x = stm.add_constant(X)
x.head()

C:\Users\lenovo\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

,const,bedrooms,bathrooms,floors,waterfront,view,condition,grade,sqft_basement,sqft_living_log,sqft_lot_log,sqft_living15_log,sqft_lot15_log,sqft_above_log
0,1.0,4,3.00,1.0,0,0,5,7,910,7.580700,8.517193,7.215240,8.517193,6.956545
1,1.0,4,4.50,1.0,0,0,3,11,1530,8.597851,11.532042,8.468003,11.532042,8.266164
2,1.0,2,1.00,1.0,0,0,4,7,300,7.056175,8.699515,7.192934,8.699515,6.756932
3,1.0,3,1.00,1.5,0,0,4,7,0,7.265430,9.898525,7.484369,9.449121,7.265430
4,1.0,3,1.75,1.0,0,0,4,7,0,7.222566,9.177817,7.222566,9.230927,7.222566

In [17]:
mod2 = stm.OLS(y,x).fit()
mod2.params

const                7.792179
bedrooms            -0.014965
bathrooms           -0.021023
floors               0.026587
waterfront           0.446177
view                 0.065799
condition            0.092903
grade                0.188760
sqft_basement        0.000149
sqft_living_log      0.205810
sqft_lot_log         0.008381
sqft_living15_log    0.234072
sqft_lot15_log      -0.078412
sqft_above_log       0.107238
dtype: float64

In [18]:
mod2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              price_log   R-squared:                       0.612
Model:                            OLS   Adj. R-squared:                  0.612
Method:                 Least Squares   F-statistic:                     1185.
Date:                Mon, 25 May 2020   Prob (F-statistic):               0.00
Time:                        21:25:43   Log-Likelihood:                -3057.6
No. Observations:                9761   AIC:                             6143.
Df Residuals:                    9747   BIC:                             6244.
Df Model:                          13
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                 7.7922      0.116     67.349      0.000       7.565       8.019
bedrooms             -0.0150      0.005     -3.288      0.001      -0.024      -0.006
bathrooms            -0.0210      0.007     -2.827      0.005      -0.036      -0.006
floors                0.0266      0.010      2.768      0.006       0.008       0.045
waterfront            0.4462      0.040     11.083      0.000       0.367       0.525
view                  0.0658      0.005     13.060      0.000       0.056       0.076
condition             0.0929      0.005     17.084      0.000       0.082       0.104
grade                 0.1888      0.005     38.441      0.000       0.179       0.198
sqft_basement         0.0001   2.24e-05      6.640      0.000       0.000       0.000
sqft_living_log       0.2058      0.046      4.460      0.000       0.115       0.296
sqft_lot_log          0.0084      0.010      0.857      0.392      -0.011       0.028
sqft_living15_log     0.2341      0.017     13.718      0.000       0.201       0.268
sqft_lot15_log       -0.0784      0.011     -7.355      0.000      -0.099      -0.058
sqft_above_log        0.1072      0.042      2.530      0.011       0.024       0.190
==============================================================================
Omnibus:                        9.454   Durbin-Watson:                   1.976
Prob(Omnibus):                  0.009   Jarque-Bera (JB):                9.498
Skew:                           0.075   Prob(JB):                      0.00866
Kurtosis:                       2.969   Cond. No.                     1.86e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.86e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

## Validating Model 2

In [19]:
house_valid = pd.read_csv("wk3_kc_house_valid_data.csv")

In [20]:
house_valid.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
4,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
5,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
6,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
7,1736800520,20150403T000000,662500.0,3,2.50,3560,9796,1.0,0,0,...,8,1860,1700,1965,0,98007,47.6007,-122.145,2210,8925
8,1875500060,20140731T000000,395000.0,3,2.00,1890,14040,2.0,0,0,...,7,1890,0,1994,0,98019,47.7277,-121.962,1890,14018
9,7983200060,20150424T000000,230000.0,3,1.00,1250,9774,1.0,0,0,...,7,1250,0,1969,0,98003,47.3343,-122.306,1280,8850

In [21]:
house_valid.shape

(9635, 21)

In [22]:
house_valid['price_log'] = np.log(house_valid.price)

In [23]:
house_valid['sqft_living_log'] = np.log(house_valid.sqft_living)

In [24]:
house_valid['sqft_living15_log'] = np.log(house_valid.sqft_living15)

In [25]:
house_valid['sqft_lot_log'] = np.log(house_valid.sqft_lot)

In [26]:
house_valid['sqft_lot_log15'] = np.log(house_valid.sqft_lot15)

In [27]:
house_valid['sqft_above_log'] = np.log(house_valid.sqft_above)

In [28]:
house_valid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9635 entries, 0 to 9634
Data columns (total 27 columns):
id                   9635 non-null int64
date                 9635 non-null object
price                9635 non-null float64
bedrooms             9635 non-null int64
bathrooms            9635 non-null float64
sqft_living          9635 non-null int64
sqft_lot             9635 non-null int64
floors               9635 non-null float64
waterfront           9635 non-null int64
view                 9635 non-null int64
condition            9635 non-null int64
grade                9635 non-null int64
sqft_above           9635 non-null int64
sqft_basement        9635 non-null int64
yr_built             9635 non-null int64
yr_renovated         9635 non-null int64
zipcode              9635 non-null int64
lat                  9635 non-null float64
long                 9635 non-null float64
sqft_living15        9635 non-null int64
sqft_lot15           9635 non-null int64
price_log            9635 non-null float64
sqft_living_log      9635 non-null float64
sqft_living15_log    9635 non-null float64
sqft_lot_log         9635 non-null float64
sqft_lot_log15       9635 non-null float64
sqft_above_log       9635 non-null float64
dtypes: float64(11), int64(15), object(1)
memory usage: 2.0+ MB

In [29]:
unwanted = ['id','date','price','sqft_living','sqft_lot','sqft_living15','sqft_lot15','sqft_above','yr_built','yr_renovated','zipcode','lat','long']
house_valid.drop(unwanted,axis=1,inplace=True)

In [30]:
X_valid = house_valid.drop(["price_log"], axis = 1)
y_validl = house_valid['price_log']

In [31]:
X_valid.head(10)

,bedrooms,bathrooms,floors,waterfront,view,condition,grade,sqft_basement,sqft_living_log,sqft_living15_log,sqft_lot_log,sqft_lot_log15,sqft_above_log
0,3,1.00,1.0,0,0,3,7,0,7.073270,7.200425,8.639411,8.639411,7.073270
1,3,2.25,2.0,0,0,3,7,400,7.851661,7.432484,8.887653,8.941022,7.682482
2,2,1.00,1.0,0,0,3,6,0,6.646391,7.908387,9.210340,8.994917,6.646391
3,3,2.00,1.0,0,0,3,8,0,7.426549,7.495542,8.997147,8.923058,7.426549
4,3,2.25,2.0,0,0,3,7,0,7.447168,7.713338,8.827468,8.827468,7.447168
5,3,1.50,1.0,0,0,3,7,0,6.966024,7.408531,9.181015,9.181015,6.966024
6,3,1.00,1.0,0,0,3,7,730,7.484369,7.484369,8.918650,9.001223,6.956545
7,3,2.50,1.0,0,0,3,8,1700,8.177516,7.700748,9.189729,9.096612,7.528332
8,3,2.00,2.0,0,0,3,7,0,7.544332,7.544332,9.549666,9.548097,7.544332
9,3,1.00,1.0,0,0,4,7,0,7.130899,7.154615,9.187481,9.088173,7.130899

In [32]:
y_validl.head(10)

0    12.309982
1    13.195614
2    12.100712
3    13.142166
4    12.458775
5    12.583995
6    12.343658
7    13.403776
8    12.886641
9    12.345835
Name: price_log, dtype: float64

In [33]:
x_valid = stm.add_constant(X_valid)
x_valid.head()

,const,bedrooms,bathrooms,floors,waterfront,view,condition,grade,sqft_basement,sqft_living_log,sqft_living15_log,sqft_lot_log,sqft_lot_log15,sqft_above_log
0,1.0,3,1.00,1.0,0,0,3,7,0,7.073270,7.200425,8.639411,8.639411,7.073270
1,1.0,3,2.25,2.0,0,0,3,7,400,7.851661,7.432484,8.887653,8.941022,7.682482
2,1.0,2,1.00,1.0,0,0,3,6,0,6.646391,7.908387,9.210340,8.994917,6.646391
3,1.0,3,2.00,1.0,0,0,3,8,0,7.426549,7.495542,8.997147,8.923058,7.426549
4,1.0,3,2.25,2.0,0,0,3,7,0,7.447168,7.713338,8.827468,8.827468,7.447168

In [34]:
y_vpred_log = mod2.predict(x_valid)
y_vpred_log

0       12.972305
1       13.294017
2       12.776573
3       13.314604
4       13.123233
          ...
9630    12.964086
9631    12.969241
9632    12.992135
9633    13.341697
9634    13.166280
Length: 9635, dtype: float64

In [35]:
y_vpred = np.exp(y_vpred_log)
y_vpred

0       430329.049866
1       593633.149777
2       353830.398414
3       605981.078092
4       500435.222798
            ...
9630    426806.379166
9631    429012.183415
9632    438947.388311
9633    622623.561720
9634    522447.831866
Length: 9635, dtype: float64

In [36]:
y_valid = np.exp(y_validl)
y_valid

0       221900.0
1       538000.0
2       180000.0
3       510000.0
4       257500.0
          ...
9630    224000.0
9631    475000.0
9632    360000.0
9633    400000.0
9634    400000.0
Name: price_log, Length: 9635, dtype: float64

In [37]:
type(y_valid)

pandas.core.series.Series

In [38]:
type(y_vpred)

pandas.core.series.Series

In [39]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [40]:
rmse2 = sqrt(mean_squared_error(y_valid, y_vpred))
rmse2

349975.265365853

In [41]:
rmse2 = np.sqrt(np.mean((np.array(y_valid)-np.array(y_vpred))**2)) #RMSE
rmse2

349975.265365853