## Model 5

In [1]:
import os
os.chdir("E:\\DATA SCIENCE TERM-1\\Machine Learning-1\\ML 1 Assignment")

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as stm

In [3]:
house_train = pd.read_csv("wk3_kc_house_train_data.csv")

In [4]:
house_train.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
1,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
2,9212900260,20140527T000000,468000.0,2,1.00,1160,6000,1.0,0,0,...,7,860,300,1942,0,98115,47.6900,-122.292,1330,6000
3,114101516,20140528T000000,310000.0,3,1.00,1430,19901,1.5,0,0,...,7,1430,0,1927,0,98028,47.7558,-122.229,1780,12697
4,6054650070,20141007T000000,400000.0,3,1.75,1370,9680,1.0,0,0,...,7,1370,0,1977,0,98074,47.6127,-122.045,1370,10208
5,9297300055,20150124T000000,650000.0,4,3.00,2950,5000,2.0,0,3,...,9,1980,970,1979,0,98126,47.5714,-122.375,2140,4000
6,6865200140,20140529T000000,485000.0,4,1.00,1600,4300,1.5,0,0,...,7,1600,0,1916,0,98103,47.6648,-122.343,1610,4300
7,6300500875,20140514T000000,385000.0,4,1.75,1620,4980,1.0,0,0,...,7,860,760,1947,0,98133,47.7025,-122.341,1400,4980
8,7137970340,20140703T000000,285000.0,5,2.50,2270,6300,2.0,0,0,...,8,2270,0,1995,0,98092,47.3266,-122.169,2240,7005
9,8091400200,20140516T000000,252700.0,2,1.50,1070,9643,1.0,0,0,...,7,1070,0,1985,0,98030,47.3533,-122.166,1220,8386

In [5]:
house_train['age'] = 2020 - house_train.yr_built

In [6]:
house_train['price_log'] = np.log(house_train.price)

In [7]:
house_train['sqft_living_log'] = np.log(house_train.sqft_living)

In [8]:
house_train['sqft_lot_log'] = np.log(house_train.sqft_lot)

In [9]:
house_train['sqft_living15_log'] = np.log(house_train.sqft_living15)

In [10]:
house_train['sqft_lot15_log'] = np.log(house_train.sqft_lot15)

In [11]:
house_train['sqft_above_log'] = np.log(house_train.sqft_above)

In [12]:
mask = house_train['sqft_basement'] >= 1
house_train.loc[mask, 'sqft_basement_bin'] = 1

In [13]:
mask = house_train['sqft_basement'] < 1
house_train.loc[mask, 'sqft_basement_bin'] = 0

In [14]:
zipcode_dummy = pd.get_dummies(house_train['zipcode'])

In [15]:
zipcode_dummy

,98001,98002,98003,98004,98005,98006,98007,98008,98010,98011,...,98146,98148,98155,98166,98168,98177,98178,98188,98198,98199
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9756,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9757,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9758,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9759,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9760,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
house_train1 = pd.concat([house_train, zipcode_dummy], axis=1)

In [17]:
house_train1.shape

(9761, 99)

In [18]:
house_train1.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,98146,98148,98155,98166,98168,98177,98178,98188,98198,98199
0,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,9212900260,20140527T000000,468000.0,2,1.00,1160,6000,1.0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,114101516,20140528T000000,310000.0,3,1.00,1430,19901,1.5,0,0,...,0,0,0,0,0,0,0,0,0,0
4,6054650070,20141007T000000,400000.0,3,1.75,1370,9680,1.0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
house_train1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9761 entries, 0 to 9760
Data columns (total 99 columns):
id                   9761 non-null int64
date                 9761 non-null object
price                9761 non-null float64
bedrooms             9761 non-null int64
bathrooms            9761 non-null float64
sqft_living          9761 non-null int64
sqft_lot             9761 non-null int64
floors               9761 non-null float64
waterfront           9761 non-null int64
view                 9761 non-null int64
condition            9761 non-null int64
grade                9761 non-null int64
sqft_above           9761 non-null int64
sqft_basement        9761 non-null int64
yr_built             9761 non-null int64
yr_renovated         9761 non-null int64
zipcode              9761 non-null int64
lat                  9761 non-null float64
long                 9761 non-null float64
sqft_living15        9761 non-null int64
sqft_lot15           9761 non-null int64
age                  9761 non-null int64
price_log            9761 non-null float64
sqft_living_log      9761 non-null float64
sqft_lot_log         9761 non-null float64
sqft_living15_log    9761 non-null float64
sqft_lot15_log       9761 non-null float64
sqft_above_log       9761 non-null float64
sqft_basement_bin    9761 non-null float64
98001                9761 non-null uint8
98002                9761 non-null uint8
98003                9761 non-null uint8
98004                9761 non-null uint8
98005                9761 non-null uint8
98006                9761 non-null uint8
98007                9761 non-null uint8
98008                9761 non-null uint8
98010                9761 non-null uint8
98011                9761 non-null uint8
98014                9761 non-null uint8
98019                9761 non-null uint8
98022                9761 non-null uint8
98023                9761 non-null uint8
98024                9761 non-null uint8
98027                9761 non-null uint8
98028                9761 non-null uint8
98029                9761 non-null uint8
98030                9761 non-null uint8
98031                9761 non-null uint8
98032                9761 non-null uint8
98033                9761 non-null uint8
98034                9761 non-null uint8
98038                9761 non-null uint8
98039                9761 non-null uint8
98040                9761 non-null uint8
98042                9761 non-null uint8
98045                9761 non-null uint8
98052                9761 non-null uint8
98053                9761 non-null uint8
98055                9761 non-null uint8
98056                9761 non-null uint8
98058                9761 non-null uint8
98059                9761 non-null uint8
98065                9761 non-null uint8
98070                9761 non-null uint8
98072                9761 non-null uint8
98074                9761 non-null uint8
98075                9761 non-null uint8
98077                9761 non-null uint8
98092                9761 non-null uint8
98102                9761 non-null uint8
98103                9761 non-null uint8
98105                9761 non-null uint8
98106                9761 non-null uint8
98107                9761 non-null uint8
98108                9761 non-null uint8
98109                9761 non-null uint8
98112                9761 non-null uint8
98115                9761 non-null uint8
98116                9761 non-null uint8
98117                9761 non-null uint8
98118                9761 non-null uint8
98119                9761 non-null uint8
98122                9761 non-null uint8
98125                9761 non-null uint8
98126                9761 non-null uint8
98133                9761 non-null uint8
98136                9761 non-null uint8
98144                9761 non-null uint8
98146                9761 non-null uint8
98148                9761 non-null uint8
98155                9761 non-null uint8
98166                9761 non-null uint8
98168                9761 non-null uint8
98177                9761 non-null uint8
98178                9761 non-null uint8
98188                9761 non-null uint8
98198                9761 non-null uint8
98199                9761 non-null uint8
dtypes: float64(12), int64(16), object(1), uint8(70)
memory usage: 2.8+ MB

In [20]:
unwanted = ['id','date','price','sqft_living','sqft_lot','sqft_living15','sqft_lot15','sqft_living15_log','sqft_lot15_log','sqft_above','sqft_basement','yr_built','yr_renovated','zipcode','lat','long']
house_train1.drop(unwanted,axis=1,inplace=True)

In [21]:
X = house_train1.drop(["price_log"], axis = 1)
y = house_train1['price_log']

In [22]:
X.head(10)

,bedrooms,bathrooms,floors,waterfront,view,condition,grade,age,sqft_living_log,sqft_lot_log,...,98146,98148,98155,98166,98168,98177,98178,98188,98198,98199
0,4,3.00,1.0,0,0,5,7,55,7.580700,8.517193,...,0,0,0,0,0,0,0,0,0,0
1,4,4.50,1.0,0,0,3,11,19,8.597851,11.532042,...,0,0,0,0,0,0,0,0,0,0
2,2,1.00,1.0,0,0,4,7,78,7.056175,8.699515,...,0,0,0,0,0,0,0,0,0,0
3,3,1.00,1.5,0,0,4,7,93,7.265430,9.898525,...,0,0,0,0,0,0,0,0,0,0
4,3,1.75,1.0,0,0,4,7,43,7.222566,9.177817,...,0,0,0,0,0,0,0,0,0,0
5,4,3.00,2.0,0,3,3,9,41,7.989560,8.517193,...,0,0,0,0,0,0,0,0,0,0
6,4,1.00,1.5,0,0,4,7,104,7.377759,8.366370,...,0,0,0,0,0,0,0,0,0,0
7,4,1.75,1.0,0,0,4,7,73,7.390181,8.513185,...,0,0,0,0,0,0,0,0,0,0
8,5,2.50,2.0,0,0,3,8,25,7.727535,8.748305,...,0,0,0,0,0,0,0,0,0,0
9,2,1.50,1.0,0,0,3,7,35,6.975414,9.173988,...,0,0,0,0,0,0,0,0,0,0

In [23]:
y.head(10)

0    13.311329
1    14.018451
2    13.056224
3    12.644328
4    12.899220
5    13.384728
6    13.091904
7    12.860999
8    12.560244
9    12.439958
Name: price_log, dtype: float64

In [24]:
x = stm.add_constant(X)
x.head()

C:\Users\lenovo\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

,const,bedrooms,bathrooms,floors,waterfront,view,condition,grade,age,sqft_living_log,...,98146,98148,98155,98166,98168,98177,98178,98188,98198,98199
0,1.0,4,3.00,1.0,0,0,5,7,55,7.580700,...,0,0,0,0,0,0,0,0,0,0
1,1.0,4,4.50,1.0,0,0,3,11,19,8.597851,...,0,0,0,0,0,0,0,0,0,0
2,1.0,2,1.00,1.0,0,0,4,7,78,7.056175,...,0,0,0,0,0,0,0,0,0,0
3,1.0,3,1.00,1.5,0,0,4,7,93,7.265430,...,0,0,0,0,0,0,0,0,0,0
4,1.0,3,1.75,1.0,0,0,4,7,43,7.222566,...,0,0,0,0,0,0,0,0,0,0

In [25]:
mod5 = stm.OLS(y,x).fit()
mod5.params

const         7.775543
bedrooms     -0.008803
bathrooms     0.037687
floors       -0.017493
waterfront    0.479111
                ...
98177         0.223750
98178        -0.224312
98188        -0.265840
98198        -0.318335
98199         0.509848
Length: 83, dtype: float64

In [26]:
mod5.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              price_log   R-squared:                       0.885
Model:                            OLS   Adj. R-squared:                  0.884
Method:                 Least Squares   F-statistic:                     919.3
Date:                Tue, 26 May 2020   Prob (F-statistic):               0.00
Time:                        11:03:55   Log-Likelihood:                 2870.6
No. Observations:                9761   AIC:                            -5577.
Df Residuals:                    9679   BIC:                            -4988.
Df Model:                          81
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                 7.7755      0.056    138.452      0.000       7.665       7.886
bedrooms             -0.0088      0.003     -3.478      0.001      -0.014      -0.004
bathrooms             0.0377      0.004      8.802      0.000       0.029       0.046
floors               -0.0175      0.006     -3.115      0.002      -0.028      -0.006
waterfront            0.4791      0.022     21.302      0.000       0.435       0.523
view                  0.0657      0.003     23.485      0.000       0.060       0.071
condition             0.0449      0.003     14.022      0.000       0.039       0.051
grade                 0.1067      0.003     36.970      0.000       0.101       0.112
age                   0.0004      0.000      4.068      0.000       0.000       0.001
sqft_living_log       0.2660      0.019     13.928      0.000       0.229       0.303
sqft_lot_log          0.0637      0.003     20.419      0.000       0.058       0.070
sqft_above_log        0.2074      0.019     10.820      0.000       0.170       0.245
sqft_basement_bin     0.0302      0.008      3.692      0.000       0.014       0.046
98001                -0.3703      0.015    -25.437      0.000      -0.399      -0.342
98002                -0.4127      0.021    -20.129      0.000      -0.453      -0.372
98003                -0.3601      0.016    -22.044      0.000      -0.392      -0.328
98004                 0.7915      0.016     50.575      0.000       0.761       0.822
98005                 0.3472      0.021     16.685      0.000       0.306       0.388
98006                 0.2979      0.013     23.379      0.000       0.273       0.323
98007                 0.2957      0.023     12.830      0.000       0.250       0.341
98008                 0.2773      0.016     17.561      0.000       0.246       0.308
98010                -0.1689      0.026     -6.446      0.000      -0.220      -0.118
98011                 0.0688      0.020      3.472      0.001       0.030       0.108
98014                -0.0516      0.024     -2.138      0.033      -0.099      -0.004
98019                -0.0506      0.021     -2.440      0.015      -0.091      -0.010
98022                -0.3290      0.018    -18.282      0.000      -0.364      -0.294
98023                -0.3981      0.012    -34.278      0.000      -0.421      -0.375
98024                 0.0610      0.030      2.027      0.043       0.002       0.120
98027                 0.1440      0.014     10.661      0.000       0.117       0.170
98028                 0.0341      0.016      2.178      0.029       0.003       0.065
98029                 0.2447      0.016     15.607      0.000       0.214       0.275
98030                -0.3274      0.017    -19.238      0.000      -0.361      -0.294
98031                -0.2952      0.016    -18.789      0.000      -0.326      -0.264
98032                -0.3930      0.024    -16.217      0.000      -0.440      -0.345
98033                 0.4277      0.013     32.679      0.000       0.402       0.453
98034                 0.1702      0.011     14.890      0.000       0.148       0.193
98038                -0.1849      0.012    -15.672      0.000      -0.208      -0.162
98039                 0.9079      0.040     22.505      0.000       0.829       0.987
98040                 0.5261      0.016     32.465      0.000       0.494       0.558
98042                -0.3132      0.012    -26.793      0.000      -0.336      -0.290
98045                -0.0942      0.018     -5.228      0.000      -0.129      -0.059
98052                 0.2633      0.011     23.134      0.000       0.241       0.286
98053                 0.2131      0.014     15.484      0.000       0.186       0.240
98055                -0.2165      0.017    -13.025      0.000      -0.249      -0.184
98056                -0.0587      0.013     -4.362      0.000      -0.085      -0.032
98058                -0.2103      0.013    -16.571      0.000      -0.235      -0.185
98059                -0.0228      0.012     -1.831      0.067      -0.047       0.002
98065                 0.0602      0.016      3.686      0.000       0.028       0.092
98070                -0.1230      0.025     -4.871      0.000      -0.172      -0.073
98072                 0.1100      0.016      7.018      0.000       0.079       0.141
98074                 0.1961      0.014     14.330      0.000       0.169       0.223
98075                 0.1959      0.015     13.432      0.000       0.167       0.224
98077                 0.0628      0.019      3.290      0.001       0.025       0.100
98092                -0.3496      0.014    -25.520      0.000      -0.376      -0.323
98102                 0.6514      0.025     25.781      0.000       0.602       0.701
98103                 0.5030      0.012     41.857      0.000       0.479       0.527
98105                 0.6151      0.019     32.024      0.000       0.577       0.653
98106                -0.0091      0.015     -0.602      0.547      -0.039       0.021
98107                 0.5056      0.019     27.161      0.000       0.469       0.542
98108                 0.0305      0.019      1.617      0.106      -0.006       0.068
98109                 0.7029      0.028     25.467      0.000       0.649       0.757
98112                 0.7058      0.017     41.129      0.000       0.672       0.739
98115                 0.4691      0.011     41.599      0.000       0.447       0.491
98116                 0.4066      0.015     26.259      0.000       0.376       0.437
98117                 0.4625      0.012     39.154      0.000       0.439       0.486
98118                 0.1182      0.012      9.690      0.000       0.094       0.142
98119                 0.6395      0.021     30.122      0.000       0.598       0.681
98122                 0.4873      0.017     28.952      0.000       0.454       0.520
98125                 0.2016      0.013     15.003      0.000       0.175       0.228
98126                 0.1857      0.015     12.410      0.000       0.156       0.215
98133                 0.1002      0.012      8.643      0.000       0.077       0.123
98136                 0.3430      0.016     21.301      0.000       0.311       0.375
98144                 0.3453      0.015     22.795      0.000       0.316       0.375
98146                -0.1090      0.016     -6.732      0.000      -0.141      -0.077
98148                -0.1785      0.035     -5.079      0.000      -0.247      -0.110
98155                 0.0521      0.013      4.126      0.000       0.027       0.077
98166                -0.0477      0.018     -2.646      0.008      -0.083      -0.012
98168                -0.2958      0.017    -17.506      0.000      -0.329      -0.263
98177                 0.2238      0.016     13.604      0.000       0.192       0.256
98178                -0.2243      0.017    -12.980      0.000      -0.258      -0.190
98188                -0.2658      0.024    -11.166      0.000      -0.313      -0.219
98198                -0.3183      0.016    -19.746      0.000      -0.350      -0.287
98199                 0.5098      0.016     32.531      0.000       0.479       0.541
==============================================================================
Omnibus:                      592.787   Durbin-Watson:                   2.025
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2278.586
Skew:                          -0.184   Prob(JB):                         0.00
Kurtosis:                       5.338   Cond. No.                     1.74e+18
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.12e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

## Validating Model 5

In [27]:
house_valid = pd.read_csv("wk3_kc_house_valid_data.csv")

In [28]:
house_valid.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
4,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
5,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
6,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
7,1736800520,20150403T000000,662500.0,3,2.50,3560,9796,1.0,0,0,...,8,1860,1700,1965,0,98007,47.6007,-122.145,2210,8925
8,1875500060,20140731T000000,395000.0,3,2.00,1890,14040,2.0,0,0,...,7,1890,0,1994,0,98019,47.7277,-121.962,1890,14018
9,7983200060,20150424T000000,230000.0,3,1.00,1250,9774,1.0,0,0,...,7,1250,0,1969,0,98003,47.3343,-122.306,1280,8850

In [29]:
house_valid.shape

(9635, 21)

In [30]:
house_valid['age'] = 2020 - house_valid.yr_built

In [31]:
house_valid['price_log'] = np.log(house_valid.price)

In [32]:
house_valid['sqft_living_log'] = np.log(house_valid.sqft_living)

In [33]:
house_valid['sqft_living15_log'] = np.log(house_valid.sqft_living15)

In [34]:
house_valid['sqft_lot_log'] = np.log(house_valid.sqft_lot)

In [35]:
house_valid['sqft_lot15_log'] = np.log(house_valid.sqft_lot15)

In [36]:
house_valid['sqft_above_log'] = np.log(house_valid.sqft_above)

In [37]:
mask = house_valid['sqft_basement'] >= 1
house_valid.loc[mask, 'sqft_basement_bin'] = 1

In [38]:
mask = house_valid['sqft_basement'] < 1
house_valid.loc[mask, 'sqft_basement_bin'] = 0

In [39]:
zipcode_dummy1 = pd.get_dummies(house_valid['zipcode'])

In [40]:
zipcode_dummy1

,98001,98002,98003,98004,98005,98006,98007,98008,98010,98011,...,98146,98148,98155,98166,98168,98177,98178,98188,98198,98199
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9630,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9631,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9632,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9633,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
9634,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
house_valid1 = pd.concat([house_valid, zipcode_dummy1], axis=1)

In [42]:
house_valid1.shape

(9635, 99)

In [43]:
house_valid1.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,98146,98148,98155,98166,98168,98177,98178,98188,98198,98199
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [44]:
house_valid1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9635 entries, 0 to 9634
Data columns (total 99 columns):
id                   9635 non-null int64
date                 9635 non-null object
price                9635 non-null float64
bedrooms             9635 non-null int64
bathrooms            9635 non-null float64
sqft_living          9635 non-null int64
sqft_lot             9635 non-null int64
floors               9635 non-null float64
waterfront           9635 non-null int64
view                 9635 non-null int64
condition            9635 non-null int64
grade                9635 non-null int64
sqft_above           9635 non-null int64
sqft_basement        9635 non-null int64
yr_built             9635 non-null int64
yr_renovated         9635 non-null int64
zipcode              9635 non-null int64
lat                  9635 non-null float64
long                 9635 non-null float64
sqft_living15        9635 non-null int64
sqft_lot15           9635 non-null int64
age                  9635 non-null int64
price_log            9635 non-null float64
sqft_living_log      9635 non-null float64
sqft_living15_log    9635 non-null float64
sqft_lot_log         9635 non-null float64
sqft_lot15_log       9635 non-null float64
sqft_above_log       9635 non-null float64
sqft_basement_bin    9635 non-null float64
98001                9635 non-null uint8
98002                9635 non-null uint8
98003                9635 non-null uint8
98004                9635 non-null uint8
98005                9635 non-null uint8
98006                9635 non-null uint8
98007                9635 non-null uint8
98008                9635 non-null uint8
98010                9635 non-null uint8
98011                9635 non-null uint8
98014                9635 non-null uint8
98019                9635 non-null uint8
98022                9635 non-null uint8
98023                9635 non-null uint8
98024                9635 non-null uint8
98027                9635 non-null uint8
98028                9635 non-null uint8
98029                9635 non-null uint8
98030                9635 non-null uint8
98031                9635 non-null uint8
98032                9635 non-null uint8
98033                9635 non-null uint8
98034                9635 non-null uint8
98038                9635 non-null uint8
98039                9635 non-null uint8
98040                9635 non-null uint8
98042                9635 non-null uint8
98045                9635 non-null uint8
98052                9635 non-null uint8
98053                9635 non-null uint8
98055                9635 non-null uint8
98056                9635 non-null uint8
98058                9635 non-null uint8
98059                9635 non-null uint8
98065                9635 non-null uint8
98070                9635 non-null uint8
98072                9635 non-null uint8
98074                9635 non-null uint8
98075                9635 non-null uint8
98077                9635 non-null uint8
98092                9635 non-null uint8
98102                9635 non-null uint8
98103                9635 non-null uint8
98105                9635 non-null uint8
98106                9635 non-null uint8
98107                9635 non-null uint8
98108                9635 non-null uint8
98109                9635 non-null uint8
98112                9635 non-null uint8
98115                9635 non-null uint8
98116                9635 non-null uint8
98117                9635 non-null uint8
98118                9635 non-null uint8
98119                9635 non-null uint8
98122                9635 non-null uint8
98125                9635 non-null uint8
98126                9635 non-null uint8
98133                9635 non-null uint8
98136                9635 non-null uint8
98144                9635 non-null uint8
98146                9635 non-null uint8
98148                9635 non-null uint8
98155                9635 non-null uint8
98166                9635 non-null uint8
98168                9635 non-null uint8
98177                9635 non-null uint8
98178                9635 non-null uint8
98188                9635 non-null uint8
98198                9635 non-null uint8
98199                9635 non-null uint8
dtypes: float64(12), int64(16), object(1), uint8(70)
memory usage: 2.8+ MB

In [45]:
unwanted = ['id','date','price','sqft_living','sqft_lot','sqft_living15','sqft_lot15','sqft_living15_log','sqft_lot15_log','sqft_above','sqft_basement','yr_built','yr_renovated','zipcode','lat','long']
house_valid1.drop(unwanted,axis=1,inplace=True)

In [46]:
X_valid = house_valid1.drop(["price_log"], axis = 1)
y_validl = house_valid1['price_log']

In [47]:
X_valid.head(10)

,bedrooms,bathrooms,floors,waterfront,view,condition,grade,age,sqft_living_log,sqft_lot_log,...,98146,98148,98155,98166,98168,98177,98178,98188,98198,98199
0,3,1.00,1.0,0,0,3,7,65,7.073270,8.639411,...,0,0,0,0,0,0,1,0,0,0
1,3,2.25,2.0,0,0,3,7,69,7.851661,8.887653,...,0,0,0,0,0,0,0,0,0,0
2,2,1.00,1.0,0,0,3,6,87,6.646391,9.210340,...,0,0,0,0,0,0,0,0,0,0
3,3,2.00,1.0,0,0,3,8,33,7.426549,8.997147,...,0,0,0,0,0,0,0,0,0,0
4,3,2.25,2.0,0,0,3,7,25,7.447168,8.827468,...,0,0,0,0,0,0,0,0,0,0
5,3,1.50,1.0,0,0,3,7,57,6.966024,9.181015,...,0,0,0,0,0,0,0,0,1,0
6,3,1.00,1.0,0,0,3,7,60,7.484369,8.918650,...,1,0,0,0,0,0,0,0,0,0
7,3,2.50,1.0,0,0,3,8,55,8.177516,9.189729,...,0,0,0,0,0,0,0,0,0,0
8,3,2.00,2.0,0,0,3,7,26,7.544332,9.549666,...,0,0,0,0,0,0,0,0,0,0
9,3,1.00,1.0,0,0,4,7,51,7.130899,9.187481,...,0,0,0,0,0,0,0,0,0,0

In [48]:
y_validl.head(10)

0    12.309982
1    13.195614
2    12.100712
3    13.142166
4    12.458775
5    12.583995
6    12.343658
7    13.403776
8    12.886641
9    12.345835
Name: price_log, dtype: float64

In [49]:
x_valid = stm.add_constant(X_valid)
x_valid.head()

,const,bedrooms,bathrooms,floors,waterfront,view,condition,grade,age,sqft_living_log,...,98146,98148,98155,98166,98168,98177,98178,98188,98198,98199
0,1.0,3,1.00,1.0,0,0,3,7,65,7.073270,...,0,0,0,0,0,0,1,0,0,0
1,1.0,3,2.25,2.0,0,0,3,7,69,7.851661,...,0,0,0,0,0,0,0,0,0,0
2,1.0,2,1.00,1.0,0,0,3,6,87,6.646391,...,0,0,0,0,0,0,0,0,0,0
3,1.0,3,2.00,1.0,0,0,3,8,33,7.426549,...,0,0,0,0,0,0,0,0,0,0
4,1.0,3,2.25,2.0,0,0,3,7,25,7.447168,...,0,0,0,0,0,0,0,0,0,0

In [50]:
y_vpred_log = mod5.predict(x_valid)
y_vpred_log

0       12.353489
1       13.190180
2       12.357675
3       13.094623
4       12.419146
          ...
9630    12.466473
9631    13.071612
9632    13.206509
9633    12.900243
9634    12.935831
Length: 9635, dtype: float64

In [51]:
y_vpred = np.exp(y_vpred_log)
y_vpred

0       231767.247977
1       535084.669887
2       232739.522692
3       486320.288630
4       247495.010947
            ...
9630    259489.944150
9631    475257.493787
9632    543893.636628
9633    400409.349253
9634    414915.656877
Length: 9635, dtype: float64

In [52]:
y_valid = np.exp(y_validl)
y_valid

0       221900.0
1       538000.0
2       180000.0
3       510000.0
4       257500.0
          ...
9630    224000.0
9631    475000.0
9632    360000.0
9633    400000.0
9634    400000.0
Name: price_log, Length: 9635, dtype: float64

In [53]:
type(y_valid)

pandas.core.series.Series

In [54]:
type(y_vpred)

pandas.core.series.Series

In [55]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [56]:
rmse5 = sqrt(mean_squared_error(y_valid, y_vpred))
rmse5

122338.4966835797

In [57]:
rmse5 = np.sqrt(np.mean((np.array(y_valid - y_vpred))**2)) #RMSE
rmse5

122338.4966835797